.App {
  font-family: 'Lexend', serif;
}

.offcanvas-body{
  font-family: 'Lexend', serif;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(244 167 187);
  color: white;
  text-decoration: none;
  height: 5vh;
  font-size: 1.2em;
  padding: 10px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  color:white;
  margin-left: auto;
  margin-right: 20px;
}

.nav-button:hover{
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  height : 80vh;
}


.footer-container {
  background-color: black;
  color: rgb(244 167 187);

  height: 5vh;
  font-size: 1em;
  flex-shrink: 0;
  /* padding: 10px; */
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
}

.home-image{
  width:100%;

}
form {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom:30px;
}
/* .App {
  text-align: center;
} */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.about-container{
  display: grid;
  grid-template-columns: auto 3fr; /* Adjust column sizes as needed */
  grid-gap: 200px; 
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.about-image{
  width:150%;
  display: inline-block;
}
.about-content{
  text-align: left;
  text-shadow: #282c34;
  font-size: 1.2em;
}

.container{
  display: grid;
  grid-template-columns: auto 2fr; /* Adjust column sizes as needed */
  grid-gap: 0px; 
  
}

.client-image {
  display: inline-block;
  width: 100px; /* Adjust this value to suit your needs */
  height: 100px; /* Adjust this value to suit your needs */
  border-radius: 50%;
  overflow: hidden;
  margin-left: 130px;
  margin-top: 8px;
}

.client-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.content {
  text-align: left;
  margin-left: 80px;
  margin-top: 10px;
}

.edit {
  border: 1px solid #ddd;
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  transition: transform .5s ease-in-out;
  margin-top: 10px;

}
.edit:hover {
  border: 1px solid #ddd;
  background-color: rgb(244 167 187);
  color: white;
  transform: scale(1.1, 1.1);
}


.edit-button {
  background-color: rgb(244 167 187);
  color:white;
  border-color: rgb(244 167 187);
}



.delete {
  border: 1px solid #ddd;
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  transition: transform .5s ease-in-out;
}
.delete:hover {
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  transform: scale(1.1, 1.1);
}

.header-link-font {
  color : black;
  transition: color 0.3s ease;
}
.header-link-font:hover{
  color:rgb(244 167 187);
}

.index-body{
  text-align: center;
  background-color: #faf8f9;
}

.index-link-font {
  color : black;
  transition: color 0.3s ease;

}
.index-link-font:hover{
  color:rgb(244 167 187);
}

.Navbar {
  display: flex;
  justify-content: space-between;
}

.show-body{
  text-align: center;
  background-color: #faf8f9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

.offcanvas-body > a {
  margin-bottom: 20px;
}

.pink-hr {
  border: none;
  height: 2px;
  background-color: rgb(244 167 187);
}


.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.input-container {
  position: relative;
  border: none;
  border-bottom: 2px solid #faf8f9;
  color:#faf8f9;
}

.input-container input {
  border: none;
  padding: 2px 10px;
  margin-left: 30px;
  font-size: 0.7em;
  background-color: transparent;
  outline: none;
  width: 28vw;
}

.input-container button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  color:#faf8f9;
}

.input-container input:focus {
  background-color: transparent;
  border:none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
