nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(252, 189, 227);
  color: white;
  text-decoration: none;
  height: 5vh;
  font-size: 1.2em;
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  height : 80vh;
}


footer {
  background-color: rgb(252, 189, 227);
  padding-left: 10px;
  height: 5vh;
  font-size: 1.2em;
  flex-shrink: 0;
  padding: 10px;
  text-align-last: left;
}

.home-image{
  width:100%;

}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.about-container{
  display: grid;
  grid-template-columns: auto 3fr; /* Adjust column sizes as needed */
  grid-gap: 200px; 
}

.about-image{
  width:150%;
  display: inline-block;
}
.about-content{
  text-align: left;
}

.container{
  display: grid;
  grid-template-columns: auto 2fr; /* Adjust column sizes as needed */
  grid-gap: 0px; 
  
}

.client-image {
  display: inline-block;
  width: 100px; /* Adjust this value to suit your needs */
  height: 100px; /* Adjust this value to suit your needs */
  border-radius: 50%;
  overflow: hidden;
  margin-left: 300px;
  margin-top: 30px;
}

.client-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.content {
  text-align: left;
  margin-left: 80px;
}

.edit {
  border: 1px solid #ddd;
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  transition: transform .5s ease-in-out;
}
.edit:hover {
  border: 1px solid #ddd;
  background-color: rgb(252, 189, 227);
  color: white;
  transform: scale(1.1, 1.1);
}
.delete {
  border: 1px solid #ddd;
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  transition: transform .5s ease-in-out;
}
.delete:hover {
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  transform: scale(1.1, 1.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
